<div class="container">
  <article class="media">
    <figure class="media-left">
      <p class="image is-128x128">
      <img src="https://storage.cloud.google.com/{{bucket}}/{{ course.thumbnailUrl }}.png" onerror="this.src='https://storage.cloud.google.com/{{bucket}}/placeholder.png'">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
      <p>
        <strong>{{ course.title }}</strong>
        <br>
        {{ course.description }}
        <br>
        <strong>{{ course.instructor }}</strong>
        <br>
        <strong>{{ course.field }}</strong>
        <br>
        <strong>{{ course.level }}</strong>
        <br>
        <strong>{{ course.ratingsAverage }}</strong>
        <br>
      </p>
      </div>
    </div>
  </article>
</div>