<div class="container">
    <h1 class="title">Resources</h1><br>
  </div>
  <div class="container">
    <div class="tile is-ancester">
      {% for column in [0,1,2] %}
      <div class="tile is-parent is-4 is-vertical">
        <div class="tile is-child"> 
          {% for resource in resources[column::3] %}
          <div class="card">
            <div class="card-image">
              <figure class="image is-square">
                <img src="https://storage.cloud.google.com/{{ bucket }}/{{ resource.url }}.png" onerror="this.src='https://storage.cloud.google.com/{{bucket}}/placeholder.png'">
              </figure>
            </div>
            <div class="card-content">
              <h1 class="title is-spaced">{{ resource.title }}</h1>
              <p class="subtitle is-6">{{ resource.type }}</p>
            </div>
            <div class="card-footer">
              {% if auth_context %}
                <a class="card-footer-item" href="/resource?resource_id={{resource.resource_id}}">View More</a>
              {% endif %}
            </div>
          </div>
          <br>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>