<div class="container">
    <article class="media">
      <figure class="media-left">
        <p class="image is-128x128">
        <img src="https://storage.cloud.google.com/{{bucket}}/{{ resource.url }}.png" onerror="this.src='https://storage.cloud.google.com/{{bucket}}/placeholder.png'">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
        <p>
          <strong>{{ resource.title }}</strong>
          <br>
          {{ resource.description }}
          <br>
          <strong>{{ resource.type }}</strong>
          <br>
        </p>
        </div>
      </div>
    </article>
  </div>